<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf-extras-layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:decorator="../index.html" layout:fragment="body">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Update Password</h5>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/updatePassword}" th:object="${passwordDto}" method="post">

                            <div th:if="${param.fail}" class="alert alert-danger">
                                Old password is wrong!!!
                            </div>
                            <div class="login-form">

                            <div class="mb-3">
                                <label for="oldPassword" class="form-label">Old Password</label>
                                <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}" required>
                                <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                                     class="invalid-feedback"></div>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" required>
                                <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                                     class="invalid-feedback"></div>
                            </div>
                            <div th:if="${error}" class="alert alert-danger" role="alert">
                                <p th:text="${error}"></p>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>