<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf-extras-layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <section layout:decorator="index.html" layout:fragment="body">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1 class="mb-4">About Us</h1>
                    <p class="lead">
                        ABC Cars Pte Ltd is a leading provider of high-quality used cars in the region. With our
                        extensive selection
                        of vehicles and commitment to customer satisfaction, we strive to make your car-buying
                        experience as smooth
                        and enjoyable as possible.
                    </p>
                    <p>
                        Our team of experienced professionals is dedicated to helping you find the perfect car to
                        suit your needs
                        and budget. Whether you're looking for a family-friendly SUV, a sporty sedan, or a rugged
                        pickup truck, we've
                        got you covered.
                    </p>
                    <p>
                        At ABC Cars, we understand that buying a car is a significant investment. That's why we
                        offer a range of
                        financing options to fit your budget, as well as comprehensive warranties for added peace of
                        mind. With our
                        convenient location and flexible hours, we make it easy to find the perfect car for you.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>