<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title layout:title-pattenr="$CONTENT_TITLE - $LAYOUT_TITLE">ABC Cars</title>
</head>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">ABC Cars</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link active" href="/myCar">My Cars</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" href="/users">User List</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" href="/biddingHistory">Bidding History</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" href="/appointments">Test Drive Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<body layout:fragment="body" style="min-height: 100vh"></body>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-dark vh-30" style="margin-top:30px !important;">
    <div class="container text-white">
        <span class="text-muted">ABC Cars &copy; 2024</span>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // Tahun awal dan akhir yang ingin Anda tampilkan
        const startYear = 1900;
        const endYear = new Date().getFullYear();

        // Fungsi untuk membuat opsi tahun
        function createYearOptions(start, end) {
            let options = '';
            for (let year = end; year >= start; year--) {
                options += `<option value="${year}">${year}</option>`;
            }
            return options;
        }

        // Mengisi opsi tahun ke dalam elemen select
        $('#year').append(createYearOptions(startYear, endYear));
    });
</script>
</html>